{% block content %}

<head>
  
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Acceso</title>
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel = "stylesheet" href="{% static 'style.css'%}">
  <style>
    .btn{
        padding: 4px 8px;
        font-size: 0.875rem;
        background-color: #5cb85c;
    }
  </style>

  <title>Log In</title>
</head>

<body>
  <div class="cuadrado">
  </div>
  <div class="imagen">
    <img src="{% static 'images/fia_logo.png' %}" alt="Logo de VIGIFIA" style="max-width: 100%; height: auto;">
  </div>
  <h1 class="pr" style="font-size: 3rem;">Accede a la plataforma</h1>
    <form action="" method="post">
        {% csrf_token %}

        <div class="mensaje">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                          {{ message }}
                        </div>
                      </div>
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="container">
          <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" class="form-control" name="username" required>
          </div>

          <br>

          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password" required>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn">Ingresar</button>
        </div>
    
    </form>
</body>
{% endblock %}
