<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Fuente</title>
    <a href="../">Inicio</a>
</head>
<body>
    <div class="container">
        <h1>Agregar Fuente</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <button type="submit">Agregar</button>
        </form>
    </div>
</body>
</html>